.ingredient-cards-container {
    display: grid;  
    grid-gap: 20px;  
    padding: 20px 20px 0 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-auto-rows: 300px; 
    background: url(../../images/bar-background.jpg) no-repeat fixed center;
    height: 100%;
    overflow: scroll;
}