.favorites-container{
  padding:20px;
  height: 100vh;
  overflow: scroll;
  background: url(../../images/bar-background.jpg) no-repeat fixed center;
  h2{
    text-align: center;
    color:white;
  }
}