.random-drink-container {
  height: 100vh;
  padding:20px;
  background: url(../../images/bar-background.jpg) no-repeat fixed center;
  .drink-card{
    margin: 20px auto;
    border: 2px solid rgb(63, 63, 63);
    border-radius: 8px;
  }
}