.drink-card {
  max-width: 80%;
  background-color: lightblue;
  padding: 15px;
  margin: 20px;
  border-radius: 4px;
  h3{
    text-align: center;
  }
  .drink-card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
      margin:0 10px;
    }
  }
  .drink-image{
    height: 200px;
  }
  .drink-card-instructions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  ul{
    list-style: none;
    img{
      height:1.2rem;
    }
    .no-ingredient {
      text-decoration: line-through;
    }
  }
}