.drink-card {
  max-width: 80%;
  background-color: lightblue;
  padding: 15px;
  margin: 20px;
  border-radius: 4px;
  h3{
    text-align: center;
  }
  img{
    height: 100px;
  }
  .drink-card-instructions{
    display: flex;
    flex-direction: column;
  }
}